services:
  web:
    build: .
    image: ltv-unicyle-path-planner:latest
    container_name: ltv-unicyle-path-planner
    ports:
      - "8001:8001"
    volumes:
      - ./backend:/app/backend
      - ./frontend:/app/frontend
